
{% extends 'TableBase/index.html' %}


{% block  navbartitle %}
                      
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Product-create' %}">Create New product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Product-list' %}">product</a>
                    </li>
{% endblock   %}
        
{% block thead %}    
<th class="cell100 column1">Name</th>
<th class="cell100 column2">sale_price</th>
<th class="cell100 column3">p_cost</th>
<th class="cell100 column4">company</th>
<th class="cell100 column5">serial_number</th>
<th class="cell100 column6">delete</th>
<th class="cell100 column7">update</th>
{% endblock %}


{% block Tbody %}                                

                        
<tr class="row100 body">
    <td class="cell100 column1">ss</td>
    <td class="cell100 column2">{{object.sale_price}}</td>
    <td class="cell100 column3">{{object.p_cost}}</td>
    <td class="cell100 column4">{{object.company}}</td>
    <td class="cell100 column5">{{object.serial_number}}</td>
    <td class="cell100 column6"><a href="{% url 'Product-delete' object.pk %}" class="fa fa-trash"></a></td>
    <td class="cell100 column6">  <a href="{% url 'Product-update' object.pk %}" class="fa fa-pencil-alt"></a></td>
</tr>

{% endblock  %}
