{% extends 'Base/base.html' %}
{% load crispy_forms_tags %}

  {% block  navbartitle %}
                      
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Product-create' %}">Create New product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sale-index' %}">Sales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Product-list' %}">product</a>
</li>

{% endblock   %}

  
{% block blockname %} 

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <!-- {{ form.as_table }} -->
    <input type="submit" value="Update">
</form>

{% endblock %}