{% extends 'Base/base.html' %}


{% block  navbartitle %}
                      
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">order Qutation</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Invioce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Vendor-list' %}">Vendor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Product-list' %}">product</a>
            </li>

{% endblock   %}